main {
  	text-align: center;
	background-image: url('./assets/bg-intro-mobile.png');
}

.signup__container {
	display: flex;
	flex-direction: column;
	margin-left: 1.5rem;
	margin-right: 1.5rem;
	margin-bottom: 5rem;
	max-width: 375px;
}

.signup__info {
	margin-top: 5rem;
	margin-bottom: 3rem;
}

.signup__description {
	font-size: 1rem;
	padding: 0 0.5rem;
}

.button {
	border: none;
	border-radius: 0.4rem;
}

.flex__button {
	width: 100%;
	height: 5rem;
	margin-bottom: 2rem;
}

.signup__form {
	width: 100%;
	padding: 1.5rem 0 1rem;
	background-color: #fff;
	border-radius: 0.8rem;
	border: 1px solid #ccc;
}

.signup__form-input {
	width: 80%;
	height: 3rem;
	margin-bottom: 1rem;
	padding-left: 1rem;
	border: 1px solid #ccc;
	border-radius: 0.4rem;
	font-size: 0.9rem;
}

::placeholder {
	font-weight: 700;
}

.submit__button {
	padding: 0;
	width: 86%;
	height: 3rem;
	text-transform: uppercase;
}

.form__terms {
	font-size: 0.7rem;
	padding: 0 2rem;
}
.form__terms a {
	text-decoration: none;
}

.attribution { 
	text-align: center; 
	font-size: 0.75rem; 
}

.attribution a { 
	color: hsl(0, 0%, 30%); 
	text-decoration: none;
}
.attribution a:hover {
  	color: hsl(0, 0%, 50%);
}

.attribution p {
  	margin-top: 0.5rem;
}

.attribution__icon {
  	width: 1.3rem;
  	height: 1.3rem;
}

footer {
  	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: auto;
}